body {
  font-size: 16px;
  color: white;
  //background-color: rgb(40,40,40);
  background: linear-gradient(to right, rgb(15, 52, 67), rgb(105,155,134));
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));;
  border-radius: 0;
  border: 0;
  width:100%;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #b7d0d1eb;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #b7d0d1eb;
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid #226356;
  background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

#menu1{ border:1px solid black;}
#menu2{ border:1px solid black; }
#menu3{ border:1px solid black; }

/* END HEADER */

/* main content */

h1{
  text-align: center;
  font-family: "sans-serif";
  font-weight: bold;
}
.box, .box2 , .box3{
  display: inline-table;
  width: 27%;
  height: auto;
  border: 2px solid #4ba6a199;
  margin-left: 4%;
  //margin-right: 5%;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #226356;
  }

.box3{
	margin-right: 2%;
}

.foot-box{
  display: inline-table;
  width: auto;
  height: auto;
  margin-left: 5%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  }

.foot-box-right{
  display: inline-table;
  width: auto;
  height: auto;
  margin-left: 60%;
  overflow: hidden;
  margin-top: 1px;
  margin-bottom: 2px;
  }

.foot-box-copyright{
  display: block;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  }


h2{
  text-align: center;
  margin-right: 0;
  font-family: "cursive;";
  font-weight: bold;
  color : #b7d0d1eb ;
}

p{
  padding-top:10px;
  padding-left:20px;
  padding-right: :15px;
  padding-bottom:20px;
}

#align_items{
	text-align : center;
	margin-left : 40%;
}

/**** end *****/
/********** Large devices only **********/
@media (min-width: 1200px) {

		.container{
					height: 100px;
					}

		.navbar-brand {
  					padding-top: 35px;
					}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 		 .container{
					height: 100px;
					}
		.navbar-brand {
  					padding-top: 35px;
					}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container{
			height: 100px;
		}
	.navbar-brand {
  			padding-top: 35px;
		}

	.box, .box2 , .box3{
		width:90%;
		margin-right:4%;
	  }
	
.foot-box-right{
	margin-left:20%;
	}
	
#header-nav {
	 width : 100%;
	}
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
	 } 
  
.foot-box-right{
	margin-left:20%;
	}
	
  /* End Header */
	h2{
		font-size: 23px;
	}
	
.box, .box2 , .box3{
		width:90%;
		margin-right:4%;
	  }
	
#header-nav {
	 width : 100%;
	}
	
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 8vw;
  }

.foot-box-right{
	margin-left:20%;
	}
	
  /* End Header */
  
	.box, .box2 , .box3{
		width:90%;
		margin-right:4%;
	  }
	
#header-nav {
	 width : 100%;
	}
}

#bold{
	text-align: center;
	text-shadow: 20px;
	color: white;
	text-shadow: 0.2px;
}

.blink-two {
    animation: blinker-two 4s linear infinite;
    color: whitesmoke;
}
@keyframes blinker-two {  
    100% { opacity: 0; }
}

#width_desk{
	width:95%;
}

.fa {
  padding: 15px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  border : 1px solid white;
}

.fa-instagram {
  background: linear-gradient(to right, rgb(15, 32, 39), #555, rgb(44, 83, 100));
  color : #d9edf7;
}

img{
	width: 100%;
}

a{
color:white ;	
}

.fast-flicker {
    animation: shine 2s forwards, blink 5s 1s infinite;
}

hr{
  border: 1px solid black;
  margin-left:6%;
  margin-right:6%;
}

.get-in-touch{
	margin-left:1%;
	margin-top:1px;
}

// background: linear-gradient(to right, rgb(96, 56, 19), rgb(178, 159, 148)); - cool brown
// background: linear-gradient(to right, rgb(52, 232, 158), rgb(15, 52, 67)); - green shade pacific dream
// background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)); - moonlight astroid
