body {
  font-size: 16px;
  color: red;
  background-color: rgb(40,40,40);
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: black;
  border-radius: 0;
  border: 0;
}


.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: red;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: red;
  background-color: #1e1010;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #c2c0c0;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1.5px solid red;
  background-color:rgb(40,40,40);
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;

}

#menu1{ border:1px solid black;}
#menu2{ border:1px solid black; }
#menu3{ border:1px solid black; }

/* END HEADER */

/* main content */

h1{
  text-align: center;
  font-family: "sans-serif";
  font-weight: bold;
}
.box, .box2 , .box3{
  display: inline-table;
  width: 29%;
  height: auto;
  border: 2px solid orange;
  margin-left: 4%;
  //margin-right: 5%;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: black;
  }

.box3{
	margin-right: 4%;
}

h2{
  text-align: center;
  margin-right: 0;
  font-family: "cursive;";
  font-weight: bold;
}

p{
  padding-top:10px;
  padding-left:20px;
  padding-right: :15px;
  padding-bottom:20px;
}

/**** end *****/
/********** Large devices only **********/
@media (min-width: 1200px) {

		.container{
					height: 100px;
					}

		.navbar-brand {
  					padding-top: 35px;
					}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 		 .container{
					height: 100px;
					}
		.navbar-brand {
  					padding-top: 35px;
					}
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	.container{
					height: 100px;
					}
	.navbar-brand {
  					padding-top: 35px;
					}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
	 } 
	.box, .box2 , .box3{
		width:100%;
	  }
  

  /* End Header */
	h2{
		font-size: 23px;
	}
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 8vw;
  }
  /* End Header */
  
}

#bold{
	text-align: center;
	text-shadow: 20px;
	color: red;
	text-shadow: 0.2px;
}

.blink-two {
    animation: blinker-two 4s linear infinite;
    color: white;
}
@keyframes blinker-two {  
    100% { opacity: 0; }
}

#width_desk{
	width:95%;
}
